<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-text">&nbsp;</span>
  <div class="navbar-collapse collapse" id="navbar">
    <ul class="navbar-nav abs-center-x">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="/assets/logo.png" class="img-fluid logo_size" alt="Responsive image">
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="//codeply.com">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT US</a>
      </li>
    </ul>
  </div>
</nav>